.pageStyle{
    border: 2px solid black;
    padding-top: 1em;
    border-radius: 25px;
}

.textStyle {
    text-align: start;
    padding-left: 5em;
    padding-bottom: 1em;
}
.header {
    margin:1em 0 0.5em 0;
}